nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 2em;
    text-align: center;
}
